 * { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("img/paisagemforca.png");
    background-repeat: no-repeat, no-repeat;
    background-size: cover;

    height: 200px;
    width: 100%;
    }

.container {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}


.logo {
    margin: 20px 0 10px 30px;
}

.titulo {
margin: 0px 0px 10px 400px;
font-size: 30px;
justify-content: center;
color: RGB(255,0,0);

}


.tela-inicial {

    align-items: center;
    display: flex;
    flex-direction: column;
}

.inicia-jogo-btn {
    background-color: #ff0505  ;
    border: 1px solid #ffff8c ;
    border-radius: 50px;
    color: #05050f;
    font-size: 25px;
    height: 70px;
    margin: 100px 0 25px 0;
    width: 300px;
}

.inicia-jogo-btn:hover {
    background-color: RGB(255,128,0);
    border: 1px solid #ffff6c;
    color: #787878;
    cursor: pointer;
    transition: 1s; 
    transform: scale(1.1); 
}

.add-palavra-btn {
    background-color: RGB(255,128,0);
    border: 1px solid #ffff8c;
    border-radius: 50px;
    color: #050505;
    font-size: 17px;
    height: 70px;
    width: 250px;
}

.add-palavra-btn:hover {
    background-color: RGB(255,128,0);
    border: 1px solid #ffff6c;
    color: #787878;
    cursor: pointer;
    transition: 1s; 
    transform: scale(1.1); 
}

.botoes {
    display: flex;
    flex-direction: row;
}

.btn-salva-inicia {
    background-color: #ff0505  ;
    border: 1px solid #ffff8c ;
    border-radius: 50px;
    color: #05050f;
    font-size: 25px;
    height: 70px;
    margin-right: 20px;
    width: 200px;
}

.btn-salva-inicia:hover {
    cursor: pointer;
    transition: 1s;
    transform: scale(1.1);
}


.botoes-esquerda {
    background-color: RGB(255,128,0);
    border: 1px solid #ffff8c;
    border-radius: 50px;
    color: #050505;
    font-size: 20px;
    height: 70px;
    width: 250px;
    margin-right: 20px;
    width: 200px;
}

.botao-jogar {
    background-color: #ff0505;
    border: 1px solid #ffffff;
    border-radius: 10px;
    color: #ffff8c;
    font-size: 25px;
    margin-left: 6em;
    margin-bottom: 2em;
    height: 50px;
    margin-right: 20px;
    width: 200px;
}

.botoes-esquerda:hover {
    background-color: #050505;
    border: 1px solid #ffffff;
    color: #ffff8c;
    cursor: pointer;
    transition: 1s; 
    transform: scale(1.1); 
}

.botao-jogar:hover {
    background-color: #050505;
    border: 1px solid #ffffff;
    color: #ffff8c;
    cursor: pointer;
    transition: 1s; 
    transform: scale(1.1); 
}

.botoes-direita {
    background-color: RGB(255,128,0);
    border: 1px solid #ffff8c;
    border-radius: 50px;
    color: #050505;
    font-size: 20px;
    height: 70px;
    width: 250px;
    margin-right: 20px;
    width: 200px;
   }

.botao-sair {
    background-color: #ff0505;
    border: 1px solid #ffffff;
    border-radius: 10px;
    color: #ffff8c;
    font-size: 20px;
    height: 30px;
    margin-top: 1em;
    margin-left: 7em;
    width: 150px;
}

.botoes-direita:hover {
    background-color: #050505;
    border: 1px solid #ffffff;
    color: #ffff8c;
    cursor: pointer;
    transition: 1s; 
    transform: scale(1.1); 
}

.botao-sair:hover {
    background-color: #050505;
    border: 1px solid #ffffff;
    color: #ffff8c;
    cursor: pointer;
    transition: 1s; 
    transform: scale(1.1); 
}



.input-section {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    margin: 140px auto;
}

.input-add-palavra {
    background-color: #ffff8c;
    border: none;
    border-radius: 20px;
    color: #050505;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    height: 70px;
    margin: 0px 90px 90px 60px;
    width: 700px;
}

.input-add-palavra:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}


.input-add-palavra::placeholder {
    color: #050505;
    font-size: 30px;
}

.aviso {
    display: flex;
    margin: 1rem 4rem 1rem 0;
    padding: 5px;
}

.aviso-p {
 font-weight: bold;
  font-size: 35px,;
  color: RGB(255 0 0);
  margin-left: 7px;
}

.aviso-img {
width: 20px;
}



.main-jogo {
    margin: 0 auto;
}



canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}

.botoes-main {
    display: flex;
    justify-content: center;
    margin: 0px 50px 75px 300px;
}



.hide {
    display: none;
}



footer {
    background: rgb(255, 255, 240);
    bottom: 0;
    color: #050505;
    display: flex;
    justify-content: center;
    padding: 2%;
    position: fixed;
    width: 100%;
}

footer > h3 {
    font-size: 21px;
}

footer> a, i {
    color: #050505;
    display: flex;
    font-size: 25px;
}

footer> a, i:hover {
    transform: scale(1.3);
    transition: 700ms;
}

